.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text {
  width: auto;
  height: var(--dl-size-size-medium);
  align-self: center;
  text-align: center;
}
.home-container1 {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-button {
  width: 200px;
  height: 100px;
  font-size: 20px;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-button:hover {
  background-color: var(--dl-color-success-700);
}
.home-button01 {
  width: 200px;
  height: 100px;
  font-size: 20px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-button01:hover {
  background-color: var(--dl-color-danger-700);
}
.home-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-button02 {
  width: 200px;
  height: 100px;
  font-size: 20px;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-button02:hover {
  background-color: gold;
}
.home-button03 {
  width: 200px;
  height: 100px;
  font-size: 20px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-button03:hover {
  background-color: red;
}
.home-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-button04 {
  width: 200px;
  height: 100px;
  font-size: 20px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-button04:hover {
  background-color: var(--dl-color-success-700);
}
.home-button05 {
  width: 200px;
  height: 100px;
  font-size: 20px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-button05:hover {
  background-color: var(--dl-color-danger-700);
}
.home-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text04 {
  width: auto;
  height: var(--dl-size-size-small);
  align-self: center;
  text-align: center;
}
.home-button06 {
  font-size: 20px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-button06:hover {
  background-color: var(--dl-color-primary-700);
}
.home-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: flex-start;
}
.home-text05 {
  width: 133px;
  height: 45px;
  align-self: center;
  text-align: center;
}
.home-button07 {
  flex: 1;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-medium);
  font-size: 30px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-button07:hover {
  background-color: var(--dl-color-primary-700);
}
.home-button08 {
  flex: 1;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-medium);
  font-size: 30px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-button08:hover {
  background-color: var(--dl-color-danger-700);
}
.home-text06 {
  width: 153px;
  height: 39px;
  align-self: center;
  text-align: center;
}
.home-button09 {
  flex: 1;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-medium);
  font-size: 30px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-button09:hover {
  background-color: var(--dl-color-primary-700);
}
.home-button10 {
  flex: 1;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-medium);
  font-size: 30px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-button10:hover {
  background-color: var(--dl-color-danger-700);
}
.home-text07 {
  width: 160px;
  height: 39px;
  align-self: center;
  text-align: center;
}
.home-button11 {
  flex: 1;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-medium);
  font-size: 30px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-button11:hover {
  background-color: var(--dl-color-primary-700);
}
.home-button12 {
  flex: 1;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-medium);
  font-size: 30px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-button12:hover {
  background-color: var(--dl-color-danger-700);
}
.home-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-text08 {
  width: auto;
  height: auto;
  align-self: center;
  text-align: center;
}
.home-container7 {
  flex: 0 0 auto;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: flex-start;
}
.home-text09 {
  width: 133px;
  height: 45px;
  align-self: center;
  text-align: center;
}
.home-button13 {
  flex: 1;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-medium);
  font-size: 30px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-button13:hover {
  background-color: var(--dl-color-primary-700);
}
.home-button14 {
  flex: 1;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-medium);
  font-size: 30px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-button14:hover {
  background-color: var(--dl-color-danger-700);
}
.home-text10 {
  width: 153px;
  height: 39px;
  align-self: center;
  text-align: center;
}
.home-button15 {
  flex: 1;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-medium);
  font-size: 30px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-button15:hover {
  background-color: var(--dl-color-primary-700);
}
.home-button16 {
  flex: 1;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-medium);
  font-size: 30px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-button16:hover {
  background-color: var(--dl-color-danger-700);
}
.home-text11 {
  width: 160px;
  height: 39px;
  align-self: center;
  text-align: center;
}
.home-button17 {
  flex: 1;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-medium);
  font-size: 30px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-button17:hover {
  background-color: var(--dl-color-primary-700);
}
.home-button18 {
  flex: 1;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-medium);
  font-size: 30px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-button18:hover {
  background-color: var(--dl-color-danger-700);
}
@media(max-width: 991px) {
  .home-text {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .home-text02 {
    color: var(--dl-color-gray-black);
  }
  .home-text03 {
    color: var(--dl-color-gray-black);
  }
}
